<div class="m-filter-first">
	<ul class="m-tab g-flexbox m-filter-tit" style="border: solid #DDDDDD 1px;">
		<li class="item flex react-cursor vertical-line" ng-class="{'0':'item-on','1':'','2':''}[item1.province]" ng-click="MenuIChange('province')"
		 data-index="0">
			<span class="text" style="font-size: 14px;">{{aaa}}</span>
			<i class="icon mdi" ng-class="{'0': 'mdi-chevron-up','1': 'mdi-chevron-down', '2': 'mdi-chevron-double-down'}[item1.province]"></i>
		</li>
		<li class="item flex react-cursor vertical-line" ng-class="{'0':'item-on','1':'','2':''}[item1.level]" ng-click="MenuIChange('level')"
		 data-index="1">
			<span class="text" style="font-size: 14px;">学校级别</span>
			<i class="icon mdi" ng-class="{'0': 'mdi-chevron-up','1': 'mdi-chevron-down', '2': 'mdi-chevron-double-down'}[item1.level]"></i>
		</li>
		<li class="item flex react-cursor vertical-line" ng-class="{'0':'item-on','1':'','2':''}[item1.classify]" ng-click="MenuIChange('classify')"
		 data-index="2">
			<span class="text" style="font-size: 14px;">分类</span>
			<i class="icon mdi" ng-class="{'0': 'mdi-chevron-up','1': 'mdi-chevron-down', '2': 'mdi-chevron-double-down'}[item1.classify]"></i>
		</li>
		<li class="item flex react-cursor vertical-line" ng-class="{'0':'item-on','1':'','2':''}[item1.more]" ng-click="MenuIChange('more')"
		 data-index="2">
			<span class="text" style="font-size: 14px;">更多</span>
			<i class="icon mdi" ng-class="{'0': 'mdi-chevron-up','1': 'mdi-chevron-down', '2': 'mdi-chevron-double-down'}[item1.more]"></i>
		</li>
	</ul>
	<!-- 城市 -->
	<div class="m-filter-cont m-filter-column react-cursor " ng-class="{'0':'','1':'hide','2':'hide'}[item1.province]">
		<ul class="list1 col-select scroll scroll-overflow">
			<li ng-repeat="provinceItem in province.provinceList" class="item" ng-class="{true:'item-on',false:''}[province.selected==provinceItem.code]"
			 ng-click="conditionChange('province', provinceItem)">{{provinceItem.name}}</li>
		</ul>
		<div class="">
			<ul class="scroll-overflow list1 col-filter" ng-class="{true:'',false:'hide'}[item2.city]">
				<li ng-repeat="cityItem in city.cityList" class="item" ng-class="{true:'item-on',false:''}[city.selected == cityItem.code]"
				 ng-click="conditionChange('city', cityItem)">{{cityItem.name}}</li>
			</ul>
		</div>
	</div>
	<!-- 学校级别 -->
	<div class="m-filter-cont m-filter-row m-filter-comprehensive react-cursor" ng-class="{'0':'','1':'hide','2':'hide'}[item1.level]">
		<ul class="list1 col-filter scroll-overflow">
			<li class="item item-checkbox" ng-repeat="levelItem in level.levelList" ng-click="conditionChange('level', levelItem)">
				{{levelItem.name}}
				<label class="checkbox">
					<input type="checkbox" style="float: right;" ng-checked="level.selected == levelItem.code">
				</label>
			</li>
		</ul>
	</div>
	<!-- 分类 -->
	<div class="m-filter-cont m-filter-qp scroll-overflow" ng-class="{'0':'','1':'hide','2':'hide'}[item1.classify]">
		<ul class="list1 col-filter scroll-overflow">
			<li class="item item-checkbox" ng-repeat="classifyItem in classify.classifyList" ng-click="conditionChange('classify', classifyItem)">
				{{classifyItem.name}}
				<label class="checkbox">
					<input type="checkbox" style="float: right;" ng-checked="classifyItem.checked">
				</label>
			</li>
		</ul>
	</div>
	<!-- 更多 -->
	<div class="m-filter-cont m-filter-column react-cursor " ng-class="{'0':'','1':'hide','2':'hide'}[item1.more]">
		<ul class="list1 col-select scroll scroll-overflow">
			<li ng-repeat="moreTypeItem in moretype.moreTypeList" class="item" ng-class="{true:'item-on',false:''}[moretype.selected==moreTypeItem.code]"
			 ng-click="conditionChange('moretype', moreTypeItem)">{{moreTypeItem.name}}</li>
		</ul>
		<div class="">
			<ul class="list1 col-filter scroll-overflow">
				<li class="item item-checkbox" ng-repeat="moreItem in morecon.dataList" ng-click="conditionChange('more', moreItem)">
					{{moreItem.name}}
					<label class="checkbox">
						<input type="checkbox" style="float: right;" ng-checked="moreItem.checked">
					</label>
				</li>
			</ul>
		</div>
	</div>
</div>