<ion-view title="TAB3">
	<ion-content>
		<div class="row" style="text-align: center; border-top: 0px;border-bottom: 0.5px solid #EFEFEF;border-left: 0px;border-right: 0px;height: auto;">
			<div class="col col-33" style="border: 1px solid #EFEFEF;">
				<input input-datetime format="yyyy-MM-dd" type="text" style="width: 100%;text-align: center;border: 0px;font-size: 12px;background-color: #00000000"
				 ng-model="vo.startTime" max="vo.maxtime" readonly="true">
			</div>
			<div class="col col-33" style="border: 1px solid #EFEFEF;">
				<input input-datetime format="yyyy-MM-dd" type="text" style="width: 100%;text-align: center;border: 0px;font-size: 12px;background-color: #00000000"
				 ng-model="vo.endTime" max="vo.maxtime" readonly="true">
			</div>
			<div class="col col-33" style="text-align: center;border: 1px solid #EFEFEF;">
				<img src="img/clendar.png" ng-click="vc.chooseTime()" />
			</div>
		</div>
	</ion-content>
</ion-view>
