<!--
  ~ Copyright (C) 2017 Baidu, Inc. All Rights Reserved.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baidu.ocr.ui"
    android:hardwareAccelerated="true"
    android:versionCode="10000"
    android:versionName="1.0.0">

    <application>
        <activity android:name="com.baidu.ocr.ui.camera.CameraActivity"></activity>
    </application>
</manifest>
